spring:
  application:
    name: "email-sender-service"

  datasource:
    url: jdbc:postgresql://localhost:5432/products_management
    username: usr
    password: password

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  mail:
    host: smtp.gmail.com
    port: 587
    username: username
    password: password

    properties:
      mail:
        smtp:
          auth:
            true
          starttls:
            enable:
              true