spring:
  application:
    name: "email-sender-service"

  datasource:
    url: jdbc:postgresql://localhost:5432/order_management
    username: usr
    password: password

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC