server:
  port: 9001

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/order_management
    username: usr
    password: password

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

token:
  public-key: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2jm1X4AdFAndQB1CwPOfSZFqercf794QhcOq0mLX+4xgvhcQiNF2LLVHCJ7p9J+qKNJUQRLUxeBYrVI2RYHbgHcCbyfjtMj24P28sxNQkRU3zwJXFBCpeUxOJRfImFDH01y/2lI46cgY+a6mLoREVeT6e7YvbbyqXYBkbc7IPKJt1047c59p0RUr1/DGIKWTaWMDUtetcwsFPp9iuxTYGFvQgsAZvYBqyrTC35nR35vSw+0JTrJ2h4HGftkZO8tDxhMNNlBTbciQH2GT6HxODjl9ePwP9PG41IZDlJ8GbCTMF4457x3PxGZ97QmY8S82HpQ6/HPFKB5AyJ+caA9ZbwIDAQAB
    -----END PUBLIC KEY-----