server:
  port: 9001

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/products_management
    username: usr
    password: password

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  kafka:
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

services:
  payment-service:
    name: payment-service
    url: http://127.0.0.1:9002