spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/products_management}
    username: ${DATABASE_USERNAME:usr}
    password: ${DATABASE_PASSWORD:password}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
  cache:
    type: redis
